<div class="col-md-6">
	<a href='<%= link_to pages_batman_path %>'><img src="<%= asset_path 'batman.jpg' %>"></a>
</div>
<div class="col-md-6">
	<a href='<%= link_to pages_superman_path %>''><img src="<%= asset_path 'superman.jpg' %>"></a>
</div>